/* Estilos generales */






body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}




    .search-result {
        cursor: pointer;
        padding: 5px;
        border: 1px solid #ccc;
        margin: 2px 0;
    }
    .search-result:hover {
        background-color: #f0f0f0;
    }



/* Botones */
.btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s;
}

.btn:hover {
    color: #28a745; /* Verde para el hover */
}

.btn.btn-primary {
    background-color: green;
    border-color: green;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
    background-color: darkgreen;
    border-color: darkgreen;
}

.btn.btn-success {
    background-color: #28a745; /* Verde */
    border-color: #28a745;
}

.btn.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn.btn-warning {
    background-color: yellow;
    border-color: yellow;
    color: black; /* Color del texto */
}

.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
    background-color: goldenrod; /* Color de fondo al pasar el ratón */
    border-color: goldenrod;
    color: black; /* Color del texto al pasar el ratón */
}

.btn.btn-danger {
    background-color: red;
    border-color: red;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
    background-color: darkred;
    border-color: darkred;
}

.btn-sm {
    padding: 5px 10px; /* Asegurar que los botones de tamaño pequeño tengan el mismo estilo */
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #343a40;
    padding: 20px;
    color: white;
    position: fixed;
    height: 100vh;
    transition: width 0.3s;
}

.sidebar h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a,
.sidebar ul li button {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #495057;
    border: none;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s;
}

.sidebar ul li a.logout-button,
.sidebar ul li button.logout-button {
    background-color: #dc3545;
}

.sidebar ul li a:hover,
.sidebar ul li button:hover {
    background-color: #495057;
}

.sidebar ul li a.logout-button:hover,
.sidebar ul li button.logout-button:hover {
    background-color: #c82333;
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .main-content {
        margin-left: 0;
    }
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

/* Botones de acciones en la tabla */
.btn-edit {
    color: #28a745; /* Verde */
}

.btn-delete {
    color: #dc3545; /* Rojo */
}

